# Ignore everything downloaded
calendar/
equipos/
formaciones/
jefes/
market/
players/
scrapper/
current_week.json
rules.txt


# passwords
.env

# logs
log.log
.DS_Store

#cache and test
__pycache__/
.vscode/